/* --- RESET --- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
}

/* --- COMMON --- */

.row{
    display: flex;
}
.list-inline{
    display: flex;
    list-style: none;
}
.list-inline li:not(:last-child){
    margin-right: 15px;
}


/* --- BUTTON --- */

button{
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    padding: 2px 3px;
}

/* --- HEADER --- */

header{
    height: 30px;
    text-align: right;
    padding: 2px;
}

/* --- MAIN --- */

main{
    height: calc(100% - 110px);
    width: 90%;
    margin: auto;
    overflow-y: auto;
}

.user{
    flex-wrap: wrap;
    position: relative;
    width: calc(100% / 7 - 5px);
    margin: 5px;
}

.user img{
    width: 100%;
}

.mic-mute{
    position: absolute;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 5px;
}

/* --- FOOTER --- */

footer{
    height: 80px;
    background-color: #222222;
    color: white;
}

footer .row{
    height: 100%;
    align-items: center;
}
.col-left{
    width: 20%; 
}
.col-center{
    width: 75%;
    text-align: center;
}
.col-right{
    width: 5%;
    background-color: #4a4a4a;
    color: #ff1930;
}